* { 
  background-color: #000;
}

.container { 
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 15px
}

.box-one { 
  width: 300px;
  height: 60px;
  border: 1px solid red;
  margin: 25px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.box-one__item { 
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
}

.green { 
  background-color: green;
}

.red { 
  background-color: red;
}

.yellow { 
  background-color: yellow;
}

.blue { 
  background-color: blue;
}

.box-two {
  width: 300px;
  min-height: 50px;
  border: 1px solid blue;
  margin: 25px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.delete { 
  background-color: transparent;
  text-align: right;
}